name: Publish Package

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
        description: The NPM token to use for publishing the package

jobs:
  publish:
    # prevents this action from running on forks
    if: github.repository == 'Doubleshotjs/doubleshot'
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set node version to 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - name: Install pnpm
        run: npm i -g pnpm

      - name: Install deps
        run: pnpm i --no-frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Publish package
        run: pnpm run ci-publish ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
